<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Schedule Calendar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/register.css}" rel="stylesheet" type="text/css">
<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
</head>


<body>
    <form method="post" action="register/create">
    <div class="Form">
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>日付</p>
            <input type="text" name="date" class="Form-Item-Input" th:value="${date}">
          </div>   
        <div class="Form-Item">
          <p class="Form-Item-Label">
            <span class="Form-Item-Label-Required">必須</span>企業名
          </p>
          <input type="text" name="schedule" class="Form-Item-Input" placeholder="面接予定企業">
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>開始時刻~終了時刻</p>
          <input type="time" name="start" class="Form-Item-Input">&nbsp;<span>から</span><input type="time" name="end" class="Form-Item-Input"><span>まで</span>
        </div>
     
        <input type="submit" class="Form-Btn" value="予定を入れる">
      </div>
    </form>
</body>
</html>
