<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Schedule Calendar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
<script type="text/javascript">

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: {
        url : '/api/events'
    },
      dayClick: function(date, jsEvent, view) {
        location.href = 'http://127.0.0.1:8080/register?date=' + date.format();
     
    },
    eventClick: function(item, jsEvent, view) {
        location.href = 'http://127.0.0.1:8080/delete?delete_id=' + String(item.id);
    }
    });
  });
</script>
</head>
<body>
  <div id='calendar'></div>
</body>
</html>
